

.form {
    width: 52rem;
    background-color: black;
    margin-top: 2rem !important;
    /* margin: auto; */
    padding: 2rem 4rem;

}
.input {
    color: #fff;
    display: flex;
    margin-bottom: 1rem;
}
.reasonarea {
    color: #fff;
}
.key {
    min-width: 10rem;
    /* margin-top: 1rem ; */
}
.area {
    margin-left: 10rem;
    width: 20rem;
}
.filelabel {
    color: #fff;
}
.file {
    display: none;
}
.btn {
border-radius: 10px;
border: none;
color: #fff;
font-weight: 600;
background-color: #366FD1;
}
.btndiv {
    display: flex;
    justify-content:center;  
}
.inputbox {
    width: 15rem;
    height: 2rem;
}